@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sterge</h1>

<h4>Student</h4>
<hr />
<div>
    <h4>Esti sigur ca vrei sa stergi acest student?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facultate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facultate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specializare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.An)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.An)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupa)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>