@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Metadate</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facultate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facultate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specializare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.An)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.An)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasterii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="EditInformation" asp-route-id="@Model.Id" class="btn btn-warning">Editeaza Metadate</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>